<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Titanic Data Analysis</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Titanic Data Analysis</h1>
      <form method="post" action="/analyze">
        <button type="submit" class="btn btn-primary">Analyze</button>
      </form>
      {% if analysis %}
        <h2 class="mt-5">Analysis Results:</h2>
        <ul>
          {% for key, value in analysis.items() %}
            <li>Class {{ key }}: {{ value }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </body>
</html>
